openadservice:
  name: {{ chart_name }}
  image: {{ image }}
  command:
  - /bin/bash
  - -ic
  - |
    ros2 launch {{ launch_package }} {{ launch_file_name }} \
{% for argument in launch_arguments %}
{% if argument.only_if_set %}
      ${{ "{" }}{{ argument.env_name }}:+{{ argument.name }}:=${{ "{" }}{{ argument.env_name }}{{ "}" }}{{ "}" }}{{ " \\" if not loop.last else "" }}
{% else %}
      {{ argument.name }}:=${{ "{" }}{{ argument.env_name }}{{ "}" }}{{ " \\" if not loop.last else "" }}
{% endif %}
{% endfor %}
  environment:
    # --- name ------
    NAMESPACE: {{ namespace }}
    NAME: {{ node_name }}
{% if input_variables %}
    # --- inputs ----
{% for variable in input_variables %}
    {{ variable.name }}: {{ variable.value }}
{% endfor %}
{% endif %}
{% if output_variables %}
    # --- outputs ---
{% for variable in output_variables %}
    {{ variable.name }}: {{ variable.value }}
{% endfor %}
{% endif %}
    # --- other -----
{% for variable in other_topic_variables %}
    {{ variable.name }}: {{ variable.value }}
{% endfor %}
    LOG_LEVEL: info
    USE_SIM_TIME: false
{% if params_default_path %}
    PARAMS: {{ params_default_path }}
{% endif %}
{% for variable in extra_launch_variables %}
    {{ variable.name }}: {{ variable.value }}
{% endfor %}
{% if params_default_path %}
  rosParamFileMountPath: {{ params_default_path }}
  rosParamFileData: null
{% endif %}
