# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

Language: Cpp
BasedOnStyle: Google

ColumnLimit: 130
IncludeBlocks: Preserve
ReflowComments: false
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Pointer
BinPackParameters: false
