---
Checks: >
  -*,
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-type-member-init,
  google-*,
  -google-build-using-namespace,
  -google-runtime-references,
  readability-*,
  -readability-avoid-const-params-in-decls,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-qualified-auto,
  -readability-redundant-string-cstr
CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: 2
FormatStyle: google
...
