---
Checks: >
  -*,
  clang-diagnostic-*,
  -clang-diagnostic-gnu-zero-variadic-macro-arguments,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-type-member-init,
  google-*,
  -google-build-using-namespace,
  -google-readability-todo,
  -google-runtime-references,
  readability-*
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-qualified-auto,
  -readability-redundant-string-cstr
FormatStyle: google
...
